<%- include('../partials/admin-header')%>
<div class="container " style="padding-top: 5rem;">
  <div class="row d-flex justify-content-center border shadow">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
      <div class="text-center mb-4 pt-4">
        <h1>Edit User</h1>
       </div>
    <form action="/admin/editUser/<%=id%>" id="form" onsubmit="return submitform(event)" method="post">
      <div id="error">
        <% if (error){ %>
         <div  class="alert alert-danger d-flex justify-content-between" role="alert"> <%= error %> 
        <div class="close text-dark fs-5" style="cursor: pointer;" onclick="hideErrorMsg()">X</div>
        </div>
        <% } %></div>
      <div class="mb-3">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" value="<%=user.firstname%>" name="firstname" class="form-control" id="firstname" >
     
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" value="<%=user.lastname%>" class="form-control" name="lastname" id="lastname">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" value="<%=user.email%>" class="form-control" id="email" name="email">
      </div>
     
      <div class="text-center pt-4 pb-4">
        <button type="submit" class="btn btn-primary btn-block mb-1">
          Edit User
      </button>
      </div>
     
    </form>
  </div>
</div>
</div>
<script src="/javascripts/editUser.js">

</script> 